/* Noto Sans */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* Noto Serif */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
	--dark: #292929;
	--blue-dark: #4D5883;
	--blue-normal: #5588BD;
	--blue-light: #7BBED5;
}

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Noto Sans', sans-serif;
}

body {
	font-size: 16px;
	font-family: 'Noto Sans', sans-serif;
	position: relative;
}

article h2 { 
	font-weight: 500;
	margin-bottom: 0.3em;
}

article p { 
	margin-bottom: 0.6em; 
}

article img {
	width: 100%;
    margin: 1em 0;
    border-radius: 1em;
}